.jsblock {
    position: inherit;
    right:1em;
    top 80px;
    width: 25vw;
    height: 100%;
    background-color: silver;
} 

#map {
    position: inherit;
    left:1px;
    width:50vw;
    height:60vw;
    }
 
 
